.main-content {
  margin: 50px 10%;
}

header, footer {
  height: 50px;
  background: black;
}

header img {
  height: 35px;
  width: auto;
  margin-left: 30px;
  margin-top: 5px;
}
.display-show {
  display: inline-block;
  width: 23%;
  margin-right: 20px;
  margin-bottom: 20px;
}

.display-show img {
  width: 100%;
  height: auto;
}